@model ASPParfumeriq.Models.Order

@{
    ViewData["Title"] = "Премахни от количката";
}

<div class="form-page">
    <div class="form-card">

        <h1>Премахване</h1>
        <p>Сигурен ли си, че искаш да махнеш този продукт от количката?</p>

        <div class="cart-card">
            <img src="@Model.Products.PhotoUrl" />

            <div class="cart-info">
                <h3>@Model.Products.Name</h3>
                <p>Количество: @Model.OrderQuantity</p>
                <p>Цена: €@Model.Products.Price</p>
                <p class="cart-total-item">
                    Общо: €@(Model.Products.Price* Model.OrderQuantity)
                </p>
            </div>
        </div>

        <form asp-action="Delete" method="post" class="mt-4">
            <input type="hidden" asp-for="Id" />

            <button type="submit" class="btn btn-danger">
                Премахни
            </button>

            <a asp-action="Cart" class="btn btn-outline-light">
                Назад към количката
            </a>
        </form>

    </div>
</div>